{% load static %}
    <!-- Footer
    ================================================== -->
    <div id="footer-extra">
        <span>&copy;2020-2025 radar@conimi.com</span>
    </div>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-fileupload.js" %}"></script>
    <script src="{% static "js/lightbox.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    <!-- <script src="{% static "js/echarts.min.js" %}"></script> -->c
    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/crypto-js.min.js" %}"></script>

</body>
</html>
