{% for analysis in files %}
    {% if analysis.status == "running" %}
    <div class="task-item tab-pane fade in active" id="files">
        <div class="task-result">
            <div class="task-result-filesize">
            {% if "PE" in analysis.platform %}
                <span>exe</span>
            {% else %}
                <span>unknown</span>
            {% endif %}

{#            <span>{{ analysis.size|sizeof_fmt }}</span>#}
            <span>{{ analysis.clock }}首次发现！</span>
            </div>
            {% comment %} {{ analysis.labels }} {% endcomment %}
        </div>
        <div class="task-environment">
            <div class="task-environment-icon">
                <i class="bi bi-windows"></i>
            </div>
            <div class="task-environment-name">
                <span>{{ analysis.guest.label }}</span>
                <span>{{ analysis.guest.shutdown_on }}</span>
            </div>

        </div>
        <div class="task-info">
            <div class="task-info-filename">
                <span>文件名:</span> 
                <span>{{ analysis.filename }}</span>
                <i class="bi bi-clipboard2-plus"></i>
            </div>
            <div class="task-info-filetype">
                <span> SHA1:</span>
                <span>{{ analysis.sha1 }}</span>
                <i class="bi bi-clipboard2-plus"></i>
            </div>
            <div class="task-info-md5">
                <span> MD5:</span>
                <a href="{% url "analysis.views.report" analysis.id %}">
                    <span>{{ analysis.sample.md5 }}</span>
                </a>
                <i class="bi bi-clipboard2-plus"></i>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
